In [87]:
import pandas as pd
df = pd.read_csv('1973-UC-Berkeley-Admission-Data-Synthesis-Data.csv')
df['Male-Ratio'] = df['Male-Admitted']/(df['Male-Admitted']+df['Male-Denied'])
df['Female-Ratio'] = df['Female-Admitted']/(df['Female-Admitted']+df['Female-Denied'])
df

,Department,Male-Admitted,Male-Denied,Female-Admitted,Female-Denied,Male-Ratio,Female-Ratio
0,A,512,313,89,19,0.620606,0.824074
1,B,313,207,17,8,0.601923,0.680000
2,C,101,205,202,391,0.330065,0.340641
3,D,138,279,131,244,0.330935,0.349333
4,E,40,138,94,299,0.224719,0.239186
5,F,22,351,24,317,0.058981,0.070381

In [ ]:
df.drop(['Male-Ratio','Female-Ratio'],axis=1,inplace=True)
df

In [89]:
df_university = pd.DataFrame(df.sum()).T

In [97]:
df_overall = pd.concat([df, df_university])
df['Favour-Female'] = df['Female-Ratio'] > df['Male-Ratio']
df

/Users/chao/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Department,Male-Admitted,Male-Denied,Female-Admitted,Female-Denied,Male-Ratio,Female-Ratio,Favour-Female
0,A,512,313,89,19,0.620606,0.824074,True
1,B,313,207,17,8,0.601923,0.680000,True
2,C,101,205,202,391,0.330065,0.340641,True
3,D,138,279,131,244,0.330935,0.349333,True
4,E,40,138,94,299,0.224719,0.239186,True
5,F,22,351,24,317,0.058981,0.070381,True